In [18]:
# FXCM API testing

import fxcmpy 
import time

In [19]:
#initiating API connection and defining trade parameters
token_path = "/Users/oozdal/keys/API_Trading.txt"
TOKEN = open(token_path,'r').read()
TOKEN = TOKEN[0:40]

In [20]:
con = fxcmpy.fxcmpy(access_token = TOKEN, log_level = 'error', server='demo') # 
pair = 'EUR/USD'

In [21]:
#get historical data
data = con.get_candles(pair, period='m5', number=250)
"""periods can be m1, m5, m15 and m30, H1, H2, H3, H4, H6 and H8, D1, W1, M1"""

'periods can be m1, m5, m15 and m30, H1, H2, H3, H4, H6 and H8, D1, W1, M1'

In [22]:
#streaming data
"for streaming data, we first need to subscribe to a currency pair"
con.subscribe_market_data('EUR/USD')
con.get_last_price('EUR/USD')

Bid     1.21556
Ask     1.21558
High    1.21771
Low     1.21509
Name: 2021-05-10 04:55:31.173000, dtype: float64

In [24]:
con.get_prices('EUR/USD')

                             Bid      Ask     High      Low
2021-05-10 04:55:31.173  1.21556  1.21558  1.21771  1.21509
2021-05-10 04:55:36.845  1.21556  1.21557  1.21771  1.21509
2021-05-10 04:55:36.866  1.21555  1.21557  1.21771  1.21509
2021-05-10 04:55:38.771  1.21553  1.21555  1.21771  1.21509
2021-05-10 04:55:39.170  1.21553  1.21554  1.21771  1.21509

In [25]:
con.unsubscribe_market_data('EUR/USD')

In [26]:
#trading account data
con.get_accounts().T

                          0
t                         6
ratePrecision             0
accountId           1486126
balance             49992.5
usdMr                 187.5
mc                        N
mcDate
accountName        01486126
usdMr3                  750
hedging                   Y
usableMargin3       49242.3
usableMarginPerc    99.6249
usableMargin3Perc   98.4998
equity              49992.3
usableMargin        49804.8
bus                    1000
dayPL              -7.74242
grossPL            -0.24242

In [27]:
con.get_open_positions().T

                                  0               1
t                                 1               1
ratePrecision                     5               5
tradeId                      374189          374186
accountName                01486126        01486126
accountId                   1486126         1486126
roll                              0               0
com                             0.7             0.7
open                        1.21568         1.21569
valueDate
grossPL                     1.93939        -2.18182
close                       1.21552         1.21551
visiblePL                       1.6            -1.8
isDisabled                    False           False
currency                    EUR/USD         EUR/USD
isBuy                         False            True
amountK                          10              10
currencyPoint               1.21212         1.21212
time                 05102021045224  05102021045222
usedMargin                    187.5           187.5
orderId                     1116304         1116300
OpenOrderRequestTXT            None            None
OpenOrderReqID       Request-859083  Request-859077
TradeIDOrigin                  None            None
child_trailingStop             none            none
child_trailing                   -1              -1
stop                              0               0
stopMove                          0               0
limit                             0               0

In [28]:
con.get_open_positions_summary().T

                     0
t                    1
ratePrecision        0
tradeId
accountName
accountId
roll                 0
com                1.4
open                 0
valueDate
grossPL       -0.24242
close                0
visiblePL         -0.2
isDisabled       False
currency       EUR/USD
isBuy            False
amountK             20
currencyPoint        0
time              None
usedMargin           0
stop                 0
stopMove             0
limit                0
isTotal           True

In [29]:
con.get_closed_positions()

,t,ratePrecision,tradeId,accountName,roll,com,open,valueDate,grossPL,close,...,OpenOrderID,CloseOrderID,CloseOrderReqID,CloseOrderRequestTXT,CloseOrderParties,OpenOrderParties,TradeIDRemain,currencyPoint,openTime,closeTime
0,2,5,374188,01486126,0,2.8,1.21206,,-2.2,1.21217,...,1116303,1116309,Request-859528.1,None,"[fxcm.com,C,13,DFX4,4,d,4001]","[fxcm.com,C,13,DFX4,4,d,4001]",None,2,05102021045223,05102021045501
1,2,5,374187,01486126,0,1.4,1.21210,,0.3,1.21213,...,1116302,1116308,Request-859528.0,None,"[fxcm.com,C,13,DFX4,4,d,4001]","[fxcm.com,C,13,DFX4,4,d,4001]",None,1,05102021045222,05102021045501

In [30]:
con.get_orders()

Empty DataFrame
Columns: []
Index: []

In [31]:
#orders
con.create_market_buy_order('EUR/USD', 10)
con.create_market_buy_order('USD/CAD', 10)
con.create_market_sell_order('USD/CAD', 20)
con.create_market_sell_order('EUR/USD', 10)

In [32]:
# con.close_trade(trade_id=tradeId, amount=1000)
con.close_all_for_symbol('USD/CAD')

In [33]:
#closing connection
con.close()